@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* { 
  margin: 0;
  font-family: 'Roboto';
  color: #333
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid orange;
}

.navbar h1{
  color: #F74;
}
.navbar .links{
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover{
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.blog-preview{
  padding: 15px;
  margin: 20px 0;
}
.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2{
  color: #f1356d;
}